header {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.bg {
    background-color: rgb(186, 238, 186);
    padding: 10px 0;
    border-bottom: 2px solid black;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.sys {
    font-weight: 600;
    color: black;
    font-size: 1.5rem;
}
select {
    background-color: rgb(219, 254, 218);
}

img {
    width: 100px;
    height: auto;
}

@media (max-width: 750px) {
    header {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    }
    img {
        width: 80px;
    }
}

@media (max-width: 480px) {
    header {
        max-width: 480px;
        width: 100%;
        margin: 0 auto;
    }
    img {
        width: 60px;
    }
    select{
        width: 75px;
    }
}
